@model Guest_book.Models.Messages

<h4>Отзыв посетителя</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageDate" class="control-label"></label>
                @{
                    var time = new DateTime();
                }
                <input type=hidden asp-for="MessageDate" class="form-control" value=@time />
                <span asp-validation-for="MessageDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                @{
                    var login = Context.Session.GetString("login");
                }
                <select asp-for="Login.Login" class="form-control" asp-items="ViewBag.Login.Login" value=@login></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


